Passo a Passo de solução do Desafio

In [ ]:
# Lógica de Programação

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta vendas)

import os
import pandas as pd



lista_arquivos = os.listdir("/content/drive/MyDrive/Vendas")
display(lista_arquivos)

tabela_total = pd.DataFrame()
# Passo 2 - Importar a base de Dados de vendas

for arquivos in lista_arquivos:

  if "Vendas" in arquivos:
    tabela = pd.read_csv(f"/content/drive/MyDrive/Vendas/{arquivos}")
    print(arquivos)
    display(tabela)
    tabela_total = tabela_total.append(tabela)

In [25]:
# Passo 3 - Tratar / Compilar as base de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,17,HL4379,Televisão,2,Carolina,Alfradique,2/25/2018,Belo Horizonte,2500,NaN
1,25,HL4379,Televisão,1,Danilo,Rubim,2/20/2018,Belo Horizonte,2500,NaN
2,27,HL1918,iPhone,5,Bernard,Pedrosa,7/7/2018,Belo Horizonte,5300,NaN
3,54,HL1918,iPhone,5,Lucas,Lemos,12/26/2018,Belo Horizonte,5300,NaN
4,67,HL8851,Notebook,5,Bernardo,Botelho,6/8/2018,Belo Horizonte,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
699,9947,HL1918,iPhone,2,Gabrielle,Vasconcelos,2/20/2018,Porto Alegre,5300,NaN
700,9980,HL1918,iPhone,5,João,Rodrigues,1/21/2018,Porto Alegre,5300,NaN
701,9983,HL2714,Tablet,5,Bianca,Tatsch,2/12/2018,Porto Alegre,1600,NaN
702,9993,HL1148,Câmera,4,Victor,Lira,7/26/2018,Porto Alegre,2100,NaN
703,9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300,NaN

In [36]:
# Passo 4 - Calcular o produto mais vendido (em  quantidades)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos [["Quantidade Vendida", "Preco Unitario"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida  Preco Unitario
Produto
iPhone                    8974        15778100
Televisão                 5931         4905000
Notebook                  3249         3717000
Android                   3183         3631200
SmartWatch                2980         1393000
Tablet                    2921         1556800
Câmera                    2805         2020200

In [39]:
# Passo 5 - Cacular o Produto que mais faturou (em Faturamento)
tabela_total['Faturamento'] = tabela_total["Quantidade Vendida"] * tabela_total["Preco Unitario"]
tabela_faturamento = tabela_total.groupby('Produto').sum()
display(tabela_faturamento)

,Unnamed: 0,Quantidade Vendida,Preco Unitario,Unnamed: 8,Faturamento
Produto,,,,,
Android,5164013,3183,3631200,0.0,10822200
Câmera,4848296,2805,2020200,0.0,5890500
Notebook,5393100,3249,3717000,0.0,11371500
SmartWatch,4968367,2980,1393000,0.0,4172000
Tablet,4920118,2921,1556800,0.0,4673600
Televisão,9675708,5931,4905000,0.0,14827500
iPhone,15015399,8974,15778100,0.0,47562200

In [52]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em Faturamento) - Criar um gráfico/Dashboard 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Quantidade Vendida', 'Preco Unitario', 'Faturamento']].sort_values(by= 'Faturamento', ascending= False)
display(tabela_lojas)

                Quantidade Vendida  Preco Unitario  Faturamento
Loja
São Paulo                     6674         7340600     22098300
Rio de Janeiro                4393         4970300     14867800
Fortaleza                     4320         4719600     14087900
Salvador                      4027         4345900     13111300
Goiás                         2242         2421700      7441800
Recife                        2208         2410500      7303000
Curitiba                      2151         2337200      7060500
Porto Alegre                  2103         2305300      6868600
Belo Horizonte                1925         2150200      6480300

In [54]:
import plotly.express as px
grafico = px.bar(tabela_lojas, x = tabela_lojas.index, y = 'Faturamento')
grafico.show()